certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
halo==0.0.31
idna==3.2
importlib-resources==5.4.0
log-symbols==0.0.14
requests==2.26.0
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.6
wn==0.8.0
zipp==3.6.0
